

/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body * {
  font-family: 'Lato', sans-serif;
}

body {
  background-size: cover;
}

body *, html * {
  margin: 0 0;
  padding: 0 0;
}

body, html {
  max-height: 100vh;
}

.background {
  background-image: url("../img/clouds-and-grass.jpeg");
}

@media screen and (min-width: 1900px) {

  .background {
    background-size: cover;
    background-position: 50vw;
    display: flex;
    position: relative;
  }
}

.content {
  background-color: rgb(242, 239, 229);
}

/* .hidden {
  display: none;
} */


/******************************************
/* LAYOUT
/*******************************************/

.content {
  width: 100vw;
  min-height: 100vh;
}

.content img{
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 1900px) {
  
  .content, .characterMain {
    width: 50vw;
    height: 100vh;
    padding: 3rem;
  }

  .content img{
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 220px;
  }
}

.action {
  text-align: center;
  margin: 10px;
}

.action span {
  margin: .5rem 0;
}

.action * {
  font-size: .75rem;
  display: inline-block;
  padding: 10px;
}

button {
  padding: 10px;
  background-color: white;
  color: #549560;
  border-radius: 10px;
  border: 3px solid #549560;
}

.characterThumbs {
  margin: 3rem 0;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

@media screen and (min-width: 1900px) {
  .action, span {
    display: block;
    text-align: center;
  }

  .action span {
    margin: 1rem 0;
  }
  
  .action * {
    font-size: 2rem;
    display: block;
    margin: 0 auto;
  }

  button {
    padding: 10px;
  }

  .characterThumbs {
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

.square {
  position: relative;
  display: flex;
}

.square span {
  font-size: 1.6rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: transparent;
  background-color: transparent;
  text-align: center;
  padding-top: 45%;
}


.square span:hover {
  color: black;
  background-color: rgba(255, 255, 255, .6);
  transition: all .4s;
}



@media screen and (min-width: 1900px) {
  .square span {
    font-size: 2rem;
  }
}

button:hover, .square:hover {
  transform: scale(1.065);
  transition: .2s;
  cursor: pointer;
}

button:active {
  transition: .2s;
  transform: scale(.95);
}

.content {
  position: relative;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  color: #3F6398;
  margin: 0 0;
  padding: 10px;
}

.quote {
  font-size: 1rem;
}

@media screen and (min-width: 1900px) {
  h1 {
    font-size: 12rem;
  }

  .quote {
    font-size: 2rem;
    margin-bottom: 1rem;
  }


}

.characterMain {
  position: relative;
}

.characterMain img {
  -webkit-filter:
    drop-shadow(4px 4px 0 black)
    drop-shadow(-4px -4px 0 white);
  filter:
    drop-shadow(4px 4px 0 black) 
    drop-shadow(-4px -4px 0 white);
  max-height: 60vh;
  /* min-width: 10vw; */
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all .7s; 
  transform: translate(0px, 0%);
  z-index: 6;

}

.characterMain .close {
  transition: all .7s; 
  transform: translate(0px, 110%);
}

@media screen and (min-width: 1900px) {

  .characterMain img {
    -webkit-filter:
      drop-shadow(4px 4px 0 black)
      drop-shadow(-4px -4px 0 white);
    filter:
      drop-shadow(4px 4px 0 black) 
      drop-shadow(-4px -4px 0 white);
    min-height: 80vh;
    /* min-width: 10vw; */
    position: absolute;
    right: 20%;
    bottom: 0;
    transition: all .7s; 
    transform: translate(0px, 0%);
    /* max-width: 50vh; */

  }

  .characterMain .close {
    transition: all .7s; 
    transform: translate(0px, 110%);
  }

}



.quoteDisplay * {
  color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: .1rem;
}

.fadeIn {
  transition: all .2s; 
  color: white;
}

.characterName {
  font-size: 1.95rem;
  margin: .12rem;
  text-align: right;
}


.quoteDisplay {
  background-color: #549560;
  width: 90vw;
  min-height: 90vh;
  z-index: 5;
  position: absolute;
  top: 5vh;
  left: 5vw;
  border-radius: 10px;
  transition: all .7s; 
  padding: 20px;
}

.closeQuote {
  transition: all .7s; 
  transform: translate(0px, 110%);
  /* width: 0px; */
  padding: 0;
  /* margin: 0; */
}

.exitQuote {
  color: white;
  text-align: right;
}

.exitQuote:hover {
  cursor: pointer;
}

@media screen and (min-width: 1900px) {

  .quoteDisplay * {
    letter-spacing: .125rem;
  }

  .quoteDisplay {
    background-color: #549560;
    padding-left: 50px;
    margin-bottom: 30px;
    border-radius: 0 10px 10px 0;

    position: absolute;
    /* bottom: 0; */
    left: 0;

    min-height: initial;
    padding: 50px;
    width: 60%;
    height: 300px;
    transition: all .7s; 
    top: initial;
  }

  .closeQuote {
    transition: all .7s; 
    transform: initial;
    width: 0px;
    padding: 0;
    /* margin: 0; */
  }

  .characterName {
    margin: 3rem;
  }


}